.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 709px;
    overflow: auto;
    box-sizing: border-box;
}

.table-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 90%;
    flex-direction: row;
    align-items: center;
}

/*
.status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
}

.status.active {
    background-color: #e8f5e9;
    color: #388e3c;
}

.status.inactive {
    background-color: #fdedec;
    color: #d32f2f;
}

.custom-data-grid .MuiDataGrid-root {
    border: none;
    height: 100%;
}

.custom-data-grid .MuiDataGrid-cell {
    border-bottom: 1px solid #f0f0f0;
    width: 141.67px !important;
    opacity: 0;
    padding: 12px 24px;
    border: 0px 0px 1px 0px solid #eaecf0;
}

.custom-data-grid .MuiDataGrid-columnHeaders {
    background-color: #f5f5f5;
    width: 141.67px !important;
    opacity: 0;
}

.custom-data-grid .MuiDataGrid-columnSeparator {
    display: none;
}

.custom-data-grid
    .MuiDataGrid-columnHeaderCheckbox
    .MuiDataGrid-columnHeaderTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.custom-data-grid .MuiDataGrid-cellCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px !important;
}

.MuiDataGrid-virtualScroller {
    height: 660px !important;
}

.custom-data-grid .MuiDataGrid-row {
    border-bottom: 1px solid #eaecf0;
    height: 44px !important;
}

.statusCell::before {
    content: "•";
    display: inline-block;
    margin-right: 8px;
    color: #037847;
}
.statusCell {
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    background-color: rgba(3, 120, 71, 0.5);
    border: 2px solid green; 
    padding: 10px; 
    display: inline-block; 
*/
