# Node.js
node_modules/

# Build output
build/

# Environment variables
.env

# Logs
logs/

# Editor and IDE files
.vscode/
.idea/

# Dependency lock files
package-lock.json
yarn.lock

# Yarn 4
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Miscellaneous
.DS_Store
Thumbs.db
