# Node.js
node_modules/

# Build output
build/

# Environment variables
.env

# Logs
logs/

# Editor and IDE files
.vscode/
.idea/

# Dependency lock files
yarn.lock
package-lock.json

# Yarn 2
.yarn/
.pnp.*

# Miscellaneous
.DS_Store
Thumbs.db